<h1>Welcome to Title Case</h1>
<form action="/title">
  <div class="form-group">
      <label for="title">What would you like to see in title case?</label>
        <input type="text" name="title" id="title" class="form-control">
  </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
